es : 1

In [ ]:
data = 'gg/mm/aaaa'
print(data.split('/'))

['gg', 'mm', 'aaaa']

es 2:

In [ ]:
num = int(input('Inserire num : '))
if num%2==1:
  print('e un numero dispari')
else:
  print('NON e un numero dipari')

if num%5==0:
  print('il numero e divsibile per 5')
else:
  print('il numero NON e divisibile per 5')

Inserire num : 15
e un numero dispari
il numero e divsibile per 5

es 3:

In [ ]:
nome = input('inserire nome : ')
if nome[0] == nome[-1]:
  print('il nome ha la stessa lettera come inizio e fine')
else:
  print('no')

inserire nome : dead
il nome ha la stessa lettera come inizio e fine

es 4:

In [ ]:
NomEl = input('inserire lettera da togliere')
lista = ['Angiolieri','Barbarossa','Cavalcanti','Dante']
for i in lista:
  if NomEl == i[-1]:
    i.replace(NomeEl,'')
print(lista)

inserire lettera da togliereB
['Angiolieri', 'Barbarossa', 'Cavalcanti', 'Dante']

es 5:

In [ ]:
nome = input('inserisci nome : ')
def vocal(text):
        for i in "aeiouAEIOU":
            text = text.replace(i,"")
        return text

print(vocal(nome))

inserisci nome : lollo
lll

es 6:

In [ ]:
def vocal(text):
        for i in "aeiouAEIOU":
            text = text.replace(i,"")
        return text


frase = input('inserisci frase : ')
def noVoc(y):
  for i in y:
    return vocal(y)
print(noVoc(frase))

inserisci frase : La mamma di bono e uscita
L mmm d bn  sct

7.scrivere un programma che utilizzando una lambda function  sostituisca ad ogni elemento di una lista di parole la lunghezza delle parole stesse. Ad esempio se la lista fosse [‘mamma’, ‘stella’, ‘casa’] la lista finale dovrebbe essere [5, 5, 4]

In [ ]:
listacose = [str(s)for s in input('Inserisci numeri : ').split()]

conta = list(map(lambda x: len(x),listacose))  #list crea una lista nella funzione
print(conta)

Inserisci numeri : mamma sol re
[5, 3, 2]

8.scrivere un programma che utilizzando una lambda function elimini da una lista di parole tutte quelle più corte di un valore inserito dall’utente.  Ad esempio se la lista fosse [‘tre’, ‘stella’, ‘casa’] e l’utente inserisse il valore 5, la lista finale dovrebbe essere [‘stella’]

In [ ]:
num = int(input('Inserire quantita da eliminare : '))
elim = list(filter(lambda x: len(x) > num,listacose))
print(elim)

Inserire quantita da eliminare : 3
['mamma']

9.MilanoSport propone corsi di nuoto e vuole memorizzare i nomi dei corsi e i cognomi delle persone che partecipano a quel corso. Caricare in una struttura dati apposita i nomi dei corsi (solo due nomi) e i cognomi dei partecipanti (solo due cognomi) e permettere di avere i cognomi dei partecipanti di un determinato corso inserito dall’utente

In [ ]:
MilanoSport = [
         {'corso':'pallavolo','iscritti':['manda','rino']},
         {'corso':'pallanuoco','iscritti':['aran','ciata']}
]
corso = input()
for dictionary in MilanoSport:
  if dictionary['corso']==corso:
    print(dictionary['iscritti'])
  elif  dictionary['corso']!=corso:
    print('non ci sono corsi')

calcio
non ci sono corsi
non ci sono corsi

In [ ]:

lista = [i for i in range(0,100) if i%2==0]
for n,i in enumerate(lista):
  if i%6==0:
    lista[n] = 0
print(lista)

[0, 2, 4, 0, 8, 10, 0, 14, 16, 0, 20, 22, 0, 26, 28, 0, 32, 34, 0, 38, 40, 0, 44, 46, 0, 50, 52, 0, 56, 58, 0, 62, 64, 0, 68, 70, 0, 74, 76, 0, 80, 82, 0, 86, 88, 0, 92, 94, 0, 98]

In [ ]:
num = int(input())
lista1 = [i for i in range(0,102) if i%2==0]
for n,i in enumerate(lista1):
  if i < num:
    lista1.remove(lista1[i]) 
print(lista1)

20
[2, 4, 6, 8, 12, 14, 18, 20, 24, 26, 28, 30, 34, 36, 40, 42, 44, 46, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
num = int(input())
lista = []
for i in range(0,num):
 
    lista.append(10*i)
print(lista)

10
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
def volumeCubo(x):
  return x**3
def pesoCubo(x,y):
  return x/100