<a href="https://colab.research.google.com/github/TolentinoMirko/python-appunti-esercizi/blob/main/esercizio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a. far inserie all'utente due valori interi

In [22]:
a = int(input("a="))
b = int(input("b="))

a=12
b=2

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [23]:
a = int(input("a="))
b = int(input("b="))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

14
10
24
6

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [24]:
a = int(input("a="))
b = int(input("b="))
print(a**b)

144

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [25]:
a = int(input("a="))
b = int(input("b="))
print(a%b)

0

f. effettuare la divisione intera tra il primo e il secondo numero

In [26]:
a = int(input("a="))
b = int(input("b="))
print(a//b)

6

g. incrementare di una unità entrambi i numeri

In [27]:
a = int(input("a="))
b = int(input("b="))
print(a+1)
print(b+1)

13
3

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [53]:
peso = int(input("kg ="))
altezza = float(input("m ="))
imc = (peso /(altezza ** 2))
print("imc è",imc)

kg =60
m =1.70
imc è 20.761245674740486

i. arrotondare l'IMC precedente

In [73]:
imc = (peso /(altezza ** 2))
print(round(imc))

21

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [49]:
infoMe = ("Mirko""-""Tolentino""-""22/06/05""-""Milano")
print(infoMe)

Mirko-Tolentino-22/06/05-Milano

k. visualizzare le stesse informazioni per 10 volte di seguito

In [55]:
infoMe = ("Mirko""-""Tolentino""-""22/06/05""-""Milano")
print(infoMe*10)

Mirko-Tolentino-22/06/05-MilanoMirko-Tolentino-22/06/05-MilanoMirko-Tolentino-22/06/05-MilanoMirko-Tolentino-22/06/05-MilanoMirko-Tolentino-22/06/05-MilanoMirko-Tolentino-22/06/05-MilanoMirko-Tolentino-22/06/05-MilanoMirko-Tolentino-22/06/05-MilanoMirko-Tolentino-22/06/05-MilanoMirko-Tolentino-22/06/05-Milano

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [68]:
NameSur= ("Mirko Tolentino")
print(NameSur.upper())

MIRKO TOLENTINO

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [71]:
NameSur= ("Mirko Tolentino")
print(NameSur.title())

Mirko Tolentino

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [72]:
NameSur= ("Mirko Tolentino")
print(len(NameSur))

15

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [74]:
NameSur= ("Mirko Tolentino")
print(NameSur.count("a")+NameSur.count("e")+NameSur.count("i")+NameSur.count("o")+NameSur.count("u"))

6

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [75]:
NameSur= ("Mirko Tolentino")
print(NameSur [0:5])

Mirko

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [82]:
NameSur= ("Mirko Tolentino")
print(NameSur [10:16])

ntino

r.. assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [83]:
NameSur= ("Mirko Tolentino")
print(NameSur [5:10])

 Tole

s. assegnare il proprio nome e cognome ad una stringa e sostituire le vocali con una X

In [85]:
NameSur= ("Mirko Tolentino")
print(NameSur.replace("a","x").replace("e","x").replace("i","x").replace("o","x").replace("u","x"))

Mxrkx Txlxntxnx