1.Creare un dizionario avente come chiavi regione, capoluogo, superficie, presidente e abitanti e per ciascuna chiave, inserire come valore una lista del corrispettivo attributo per tre regioni del nord Italia.

In [ ]:
dizionario = {'regione':['Lombardia',"Valle d'Aosta",'Piemonte'],
              'capoluogo':['Milano','Aosta','Torino'],
              'superficie':['23.844 km²','3.263 km²','25.387 Km²'],
              'presidente':['Attilio Fontana','Autonoma','Roberto Cota'],
              'abitanti':['10M','125k','4,3M']}

2.Assegnare ad una variabile chiamata nord_italia un dataframe basato sopra il dizionario precedentemente creato.

In [ ]:
import pandas as pd
nord_italia = pd.DataFrame(dizionario)
nord_italia

         regione capoluogo  superficie       presidente abitanti
0      Lombardia    Milano  23.844 km²  Attilio Fontana      10M
1  Valle d'Aosta     Aosta   3.263 km²         Autonoma     125k
2       Piemonte    Torino  25.387 Km²     Roberto Cota     4,3M

3.Impostare regione come nuovo indice del dataframe. Visualizzare in fine il dataframe con il nuovo index.

4.Utilizzando il dataframe appena creato visualizzare solo i capoluoghi.

In [ ]:
nord_italia['capoluogo']

0    Milano
1     Aosta
2    Torino
Name: capoluogo, dtype: object

5.Visualizzare una lista delle colonne del dataframe.

In [ ]:
nord_italia.columns

Index(['regione', 'capoluogo', 'superficie', 'presidente', 'abitanti'], dtype='object')

6.Visualizzare l'insieme degli indici.

In [ ]:
nord_italia.index

RangeIndex(start=0, stop=3, step=1)

--------------------------------------------------------------------------------

In [ ]:
url = 'https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/anagrafica-vaccini-summary-latest.csv'
df = pd.read_csv(url)
df

  fascia_anagrafica    totale  ...  dose_booster  ultimo_aggiornamento
0             12-19   6268693  ...           229            2021-10-28
1             20-29   9891343  ...         25607            2021-10-28
2             30-39  10555697  ...         38989            2021-10-28
3             40-49  13761536  ...         49934            2021-10-28
4             50-59  15818591  ...         71049            2021-10-28
5             60-69  12875027  ...         90443            2021-10-28
6             70-79  10840433  ...         60543            2021-10-28
7             80-89   7541357  ...        586807            2021-10-28
8               90+   1721375  ...        130540            2021-10-28

[9 rows x 10 columns]

1.visualizzare il numero di vaccinatine nella fascia 12-19

In [ ]:
df.loc[df['fascia_anagrafica']=='12-19','totale']

0    6268693
Name: totale, dtype: int64

2.visualizzare il numero vaccinati maschi,femmine

In [ ]:
df.loc[df['fascia_anagrafica']=='12-19',['sesso_maschile','sesso_femminile']]

   sesso_maschile  sesso_femminile
0         3209454          3059239

3.fascie di eta con piu di 10M di vaccinazioni

In [ ]:
df.loc[df['totale'] >= 10000000,'fascia_anagrafica']

2    30-39
3    40-49
4    50-59
5    60-69
6    70-79
Name: fascia_anagrafica, dtype: object

4.fascie di eta in cui sono stati vaccinati tra i 10M e 20M

In [ ]:
df.loc[df['totale'] <20000000 & (df)>= 10000000,'fascia_anagrafica']

5.aggiungere una colonna percentuale sesso maschile dove inserire la percentuale maschi vaccinati su totale

In [ ]:
df['percentuale_sesso_maschile'] = df['sesso_maschile']/df['totale']*100
df

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  percentuale_sesso_maschile
0             12-19   6268693  ...            2021-10-28                   51.198137
1             20-29   9891343  ...            2021-10-28                   52.285296
2             30-39  10555697  ...            2021-10-28                   51.351199
3             40-49  13761536  ...            2021-10-28                   49.626706
4             50-59  15818591  ...            2021-10-28                   49.060077
5             60-69  12875027  ...            2021-10-28                   48.522609
6             70-79  10840433  ...            2021-10-28                   46.970698
7             80-89   7541357  ...            2021-10-28                   41.746572
8               90+   1721375  ...            2021-10-28                   29.916375

[9 rows x 11 columns]

6.fare la stessa cosa con le femmine

In [ ]:
df['percentuale_sesso_femminile'] = df['sesso_femminile']/df['totale']*100
df

  fascia_anagrafica  ...  percentuale_sesso_femminile
0             12-19  ...                    48.801863
1             20-29  ...                    47.714704
2             30-39  ...                    48.648801
3             40-49  ...                    50.373294
4             50-59  ...                    50.939923
5             60-69  ...                    51.477391
6             70-79  ...                    53.029302
7             80-89  ...                    58.253428
8               90+  ...                    70.083625

[9 rows x 12 columns]

7.visualizzare le fascie di eta in cui la percentuale di maschi vaccinati è maggiore della percentuale di quella femminile

In [ ]:
df.loc[df['sesso_maschile']>df['sesso_femminile'],'fascia_anagrafica']

0    12-19
1    20-29
2    30-39
Name: fascia_anagrafica, dtype: object

8.visualizzare le fascie di eta dove la dose aggiuntiva è minore della dose booster

In [ ]:
df.loc[df['dose_aggiuntiva']>df['dose_booster'],'fascia_anagrafica']

0    12-19
6    70-79
Name: fascia_anagrafica, dtype: object

9.sostituire al valore 90+ il valore 90-120

In [ ]:
df['fascia_anagrafica'] = df['fascia_anagrafica'].replace(['90+'],'90-120')
df

  fascia_anagrafica  ...  percentuale_sesso_femminile
0             12-19  ...                    48.801863
1             20-29  ...                    47.714704
2             30-39  ...                    48.648801
3             40-49  ...                    50.373294
4             50-59  ...                    50.939923
5             60-69  ...                    51.477391
6             70-79  ...                    53.029302
7             80-89  ...                    58.253428
8            90-120  ...                    70.083625

[9 rows x 12 columns]

10.creare un nuovo dataframe contenente le prime 10 fascie anagrafiche

In [ ]:
lm = df[['fascia_anagrafica']].head(10)
lm

  fascia_anagrafica
0             12-19
1             20-29
2             30-39
3             40-49
4             50-59
5             60-69
6             70-79
7             80-89
8            90-120

11.creare un nuovo dataframe contenete la fascia anagrafica e la prima e seconda dose

In [ ]:
df1 = df[['fascia_anagrafica','prima_dose','seconda_dose']].head(10)
df1

  fascia_anagrafica  prima_dose  seconda_dose
0             12-19     3223185       2940568
1             20-29     5075497       4587980
2             30-39     5415036       4888959
3             40-49     6991305       6417692
4             50-59     8023900       7337139
5             60-69     6537683       5948012
6             70-79     5393839       5158247
7             80-89     3451789       3388016
8            90-120      797161        768344

12.eliminare dal dataframe i dati relativi delle persone 40-69 anni

In [ ]:
df = df.drop([3,4,5])
df

  fascia_anagrafica  ...  percentuale_sesso_femminile
0             12-19  ...                    48.801863
1             20-29  ...                    47.714704
2             30-39  ...                    48.648801
6             70-79  ...                    53.029302
7             80-89  ...                    58.253428
8               90+  ...                    70.083625

[6 rows x 12 columns]

13.eliminare dal dataframe le colonne sesso maschile e sesso femminile

In [ ]:
df = df.drop(columns=['sesso_maschile','sesso_femminile'])
df

  fascia_anagrafica  ...  percentuale_sesso_femminile
0             12-19  ...                    48.801863
1             20-29  ...                    47.714704
2             30-39  ...                    48.648801
6             70-79  ...                    53.029302
7             80-89  ...                    58.253428
8               90+  ...                    70.083625

[6 rows x 10 columns]